<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhku.dao.ClassroomMapper">

	<resultMap type="com.zhku.bean.Classroom" id="ClassroomBaseResultMap">
		<id column="classroomId" property="id" />
		<result column="classroomName" property="name" />
		<result column="classroomNo" property="no" />
	</resultMap>

	<insert id="addClassroom" parameterType="com.zhku.bean.Classroom" useGeneratedKeys="true" keyProperty="id">
		insert into
		zk_classroom(classroomName,classroomNo,schoolBuildingNo) values(
		#{name},#{no},#{schoolBuilding.no})
	</insert>

	<delete id="deleteClassroom" parameterType="com.zhku.bean.Classroom">
		delete from
		zk_classroom where classroomId=#{id}
	</delete>

	<update id="updateClassroom" parameterType="com.zhku.bean.Classroom">
		update
		zk_classroom
		set
		classroomName=#{name},classroomNo=#{no},schoolBuildingNo=#{schoolBuilding.no}
		where classroomId=#{id}
	</update>

	<select id="getClassroomById" parameterType="_int"
		resultMap="ClassroomBaseResultMap">
		select * from zk_classroom where classroomId=#{id}
	</select>
	<select id="getClassroomByNo" parameterType="String" resultMap="ClassroomBaseResultMap">
			select * from zk_classroom where classroomNo=#{no}
	</select>

	<select id="getClassrooms" resultMap="ClassroomBaseResultMap">
		select * from
		zk_classroom
	</select>

	<select id="getClassroomsBySchoolBuildingNo" parameterType="String" resultMap="ClassroomBaseResultMap">
		select * from
		zk_classroom where schoolBuildingNo=#{no}
	</select>
</mapper>